.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 3rem;
    /* background-color: blue; */
}



.upper{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.upper .one > input{
    height: 2rem;
    outline: none;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 10px;
}

.all_card{
    width: 100%;
    /* background-color: whitesmoke; */
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.name_sec{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    /* margin-top: 10px; */
    padding: 10px;
    
    
}

.name_sec > span{
    font-size: 18px;
    font-weight: 400;
}

.adds{
    /* padding-bottom: 10px; */
    padding: 0 0 10px 5px;
    
    
}

.code{
    display: flex;
    gap: .3rem;
    padding: 0 0 10px 10px;
    
   
    
}
.last_sec{
    padding: 0 0 10px 10px;
    background-color: #f3f4f6;
    width: 100%;
}

.types{
    font-size: 20px;
    color: rgb(21, 246, 21);
}

.last_sec > p{
    margin: 0;
    padding: 0;
    font-size: 18px;
}