.signin_page_sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.signin_page{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 8px solid rgb(89, 218, 89);
    height: 45vh;
    justify-content: center;
    align-items: center;
    width: 20vw;
    border-radius: 55px;
    padding: 10px;
}

.signin_page:hover{
    border: 8px solid rebeccapurple;
}

.namee{
    font-size: 25px;
}

.info{
    display: flex;
    flex-direction: column;
    width: 95%;
    gap: 1.5rem;
}

.info > input{
    height: 2.5rem;
    border-radius: 15px;
    border: none;
    outline: none;
    padding: 15px;
    background-color: #673ab7;
    font-size: 18px;
    color: white;
}